@{
    ViewData["Title"] = "Home Page";
}
@inject IJsonHelper Json;

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<script type="text/javascript">

    var array = @ViewBag.Message;

    //for (x = 0; x < 5; x++) {

    //    alert(array[x]);
    //}
</script>
